#fields-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .field {
        margin: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 500;
    }
}

.form-button {
    margin: 20px;
    float: left
}