<div id="card">
    <div class="nav-bar">
        <nav>
            <a routerLink="/grid">Back</a>
        </nav>
    </div>
    <div id="fields-container">
        <div *ngFor="let field of contractor.fields" [ngSwitch]="field.field.type" class="field">
            <label class="pure-material-textfield-outlined">
                <input *ngSwitchCase="'text'" [(ngModel)]="field.value" placeholder=" ">
                <input *ngSwitchCase="'number'" [(ngModel)]="field.value" placeholder=" ">
                <input *ngSwitchCase="'date'" [(ngModel)]="field.value" placeholder=" ">
                <span>{{field.field.name}}</span>
            </label>
            <select class="pure-material-textfield-outlined" placeholder="Select" *ngSwitchCase="'dropdown'" name="contractor-type" [(ngModel)]="field.value">
                    <option value="Юр. Лицо">Юр. Лицо</option>
                    <option value="Физ. Лицо">Физ. Лицо</option>
                    <option value="Иностранный агент">Иностранный агент</option>
                    <option value="ИП">ИП</option>
                </select>
            <p *NgSwitchDefault>Хуй</p>
        </div>
    </div>
    <button class="pure-material-button-contained form-button" (click)="submit()">Submit</button>
</div>