<div id="card">
    <nav>
        <a routerLink="/grid">Back</a>
    </nav>
    <div id="fields-container">
        <div *ngFor="let field of fields" [ngSwitch]="getFieldType(field.field)" class="field">
            <mat-form-field>
                <mat-label>{{getFieldName(field.field)}}:</mat-label>
                <input matInput *ngSwitchCase="'text'" [(ngModel)]="field.value">
                <input matInput *ngSwitchCase="'number'" [(ngModel)]="field.value">
                <input matInput *ngSwitchCase="'date'" [(ngModel)]="field.value">
                <mat-select placeholder="Select" *ngSwitchCase="'dropdown'" name="contractor-type" [(ngModel)]="field.value">
                    <mat-option value="Юр. Лицо">Юр. Лицо</mat-option>
                    <mat-option value="Физ. Лицо">Физ. Лицо</mat-option>
                    <mat-option value="Иностранный агент">Иностранный агент</mat-option>
                    <mat-option value="ИП">ИП</mat-option>
                </mat-select>
                <p *NgSwitchDefault>Хуй</p>
            </mat-form-field>
        </div>
    </div>

</div>